@charset "UTF-8";

/* Versão Mobile First */

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
}

body{
    background-color: black url(../img/a1.jpg) no-repeat;
}

main{
    background-color: rgba(255, 255, 255, 0.712);
}